body{
    height: 100vh;
    margin: 0;
    color: #fafafa;
    background-color: #09090B;
}




/* MAIN */
.main_container{
    height: 99%;
    width: 99%;
}

.left_margin{
    height: 100%;
    padding-left: 5%;
}

.upper_margin{
    padding-top: 5%;
    width: 100%;
    height: 90%;
}


.createReview {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.486);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 254, 254, 0.151);
    background: rgb(18,44,46);
    background: linear-gradient(90deg, rgba(18,44,46,1) 20%, rgba(0,0,0,1) 50%, rgba(9,29,31,1) 78%);
}

.createReview #title, #artist, #review, #rating, #filterRating {
    display: block;
    width: 97%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #cccccc7a;
    border-radius: 5px;
    color: #fafafa;
    background-color: #18181B;
    font-size: 16px;
}

#createReview_button {
    display: block;
    width: 40%;
    padding: 10px;
    margin: 20px auto;
    font-size: 16px;
    font-weight: bold;
    background-color: #fafafa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#createReview_button:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.createReview .review {
    margin-block: 10px;
    padding: 15px;
    border: 1px solid #cccccc7a;
    border-radius: 5px;
    background: rgb(18,44,46);
    background: linear-gradient(90deg, rgba(18,44,46,1) 55%, rgba(0,0,0,1) 86%);
}

.createReview .review h3 {
    margin: 0;
    color: #fafafa;
}

.createReview .review p {
    margin: 5px 0;
}





/* FOOTER */
.footer_container{
    margin-left: 5%;
    /* max-width: 100%;
    margin: 30px auto; */
    padding-top: 5%;
    padding-bottom: 2%;
}

.footer_container img{
    height: 20px;
    width: 20px;
    padding: 10px;
    border: 1px solid rgb(24, 24, 27, 1);
    border-radius: 40%;
    background-color: rgb(24, 24, 27, 1);
}

.footer_container-links{
    margin-left: 47%;
    text-align: right;
}

.footer_container p{
    font-weight: 600;
    color: grey;
    margin-bottom: 10px;
}

.footer_container a{
    display: block;
    text-decoration: none;
    color: white;
}

.footer_container a:hover{
    text-decoration: underline;
}






.button:hover{
    cursor: pointer;
}

.underline{
    margin-block: 5px;
    margin-inline: 10%;
    border-bottom: 2px solid #4d4c4c85;
}

.hidden{
    display: none;
}

.block{
    display: block;
}

.rounded-full{
    border-radius: 9999px;
}

.flex{
    display: flex;
}

.x-center{
    justify-content: center;
}

.y-center{
    align-items: center;
}

.margin{
    margin-left: 354px;
    display: flex;
}

.remove_margins{
    margin: 0;
    padding: 0;
}