body{
    height: 100vh;
    margin: 0;
    color: #fafafa;
    background-color: #09090B;
}




/* LEFT NAVBAR */
.left_navbar{
    position: fixed;
    background-color: rgb(9, 9, 11, 1);
    border: 2px solid #ffffff;
    height: 100vh;
    z-index: 2;
}

.left_navbar_container{
    margin: 10px;
}

.left_navbar img{
    height: 20px;
    width: 20px;
    padding: 5px;
}

.feedback {
    margin-top: 300px;
}

.left_navbar_item:hover{
    background-color: #27272A;
    border: 1px solid #4d4c4c85;
    border-radius: 10px;
}







/* TOP NAVBAR */
.top_navbar{
    position: fixed;
    width: 100vw;
    border: 2px solid #ffffff;
    z-index: 1;
    background-color: rgba(9, 9, 11, 0.522);
    backdrop-filter: blur(10px);
}

.top_navbar img{
    margin-right: 50px;
    height: 50px;
    width: 150px;
}

.search{
    margin-inline: 15px;
    background-color: #18181B;
    border: 1px solid #4d4c4c85;
    border-radius: 5px;
}

.search .search-icon{
    margin: 0 0 0 10px;
    height: 12px;
    width: 12px;
    order: -1;
}

.top_navbar_input{
    color:#ffffff;
    background-color: #18181B;
    padding: 9px 12px;
    border: 0; 
}

.top_navbar_input:focus{
    outline: none;
}

.top_navbar_select{
    color: #ffffff;
    background-color: #09090B;
    border: 0;
    border-left: 1px solid #4d4c4c85;
    border-radius: 5px;
    padding: 9px 12px;
}

.top_navbar_button_feedback{
    margin-right: 32px;
    color: #ffffff;
    background-color: #09090B;
    border: 0;
    border-top: 1px solid #4d4c4c;
    border-right: 1px solid #4d4c4c;
    border-bottom: 1px solid #4d4c4c;
    border-left: 1px solid #4d4c4c;
    border-radius: 5px;
    padding: 9px 12px;
}

.top_navbar_button_sign_in{
    color: #ffffff;
    background-color: #242527BF;
    border: 0;
    border-top: 1px solid #4d4c4c;
    border-right: 1px solid #4d4c4c;
    border-bottom: 1px solid #4d4c4c;
    border-left: 1px solid #4d4c4c;
    border-radius: 5px;
    padding: 9px 24px;
}

.top_navbar_button_sign_up{
    background-color: #ffffff;
    border: 0;
    border-top: 1px solid #4d4c4c;
    border-right: 1px solid #4d4c4c;
    border-bottom: 1px solid #4d4c4c;
    border-left: 1px solid #4d4c4c;
    border-radius: 5px;
    padding: 9px 24px;
}



/*MAIN*/
main{
    border: 2px solid red;
    margin-top: 4%;
    margin-left: 4%;
    width: 100%;

}

.sign_in_container{
    border: 2px solid yellow;
    width: 1363px;
    height: 700px;
}

.left-block_sign_in_container{
    border: 2px solid white;

}

.image{
    border: 2px solid white;
    background: url('images/noimage-single-big.jpeg');
    background-size: 680px 699px;
}

.image img{
    display: flex;
    border: 2px solid green;
    margin: 20px;
    width: 200px;
    height: 54px;
}

.image span{
    display: flex;
    margin-top: 110%;
}







.button:hover{
    cursor: pointer;
}

.underline{
    margin-block: 5px;
    margin-inline: 10%;
    border-bottom: 2px solid #4d4c4c85;
}

.hidden{
    display: none;
}

.block{
    display: block;
}

.rounded-full{
    border-radius: 9999px;
}

.flex{
    display: flex;
}

.x-center{
    justify-content: center;
}

.y-center{
    align-items: center;
}

.margin{
    margin-left: 354px;
    display: flex;
}

.remove_margins{
    margin: 0;
    padding: 0;
}