body{
    color: #fafafa;
    background-color: rgb(9, 9, 11, 1);
}

.left_navbar{
    position: fixed;
    border: 2px solid #ffffff;
    height: 100%;
}

/* ???? */
/* .left_navbar_container{
    position: relative;
} */

.left_navbar ul{
    padding-left: 0;
}

.left_navbar img{
    height: 25px;
    width: 25px;
}

.left_navbar_item{
    display: flex;
}

/* ???? */
/* .feedback{
    color: green;
    align-items: end;
} */

.left_navbar_item:hover{
    background-color: #f85d5d;
}

.left_navbar_item span{
    display: none;
}

.left_navbar_item:hover span{
    display: block;
}






.top_navbar{
    position: fixed;
    width: 100%;
    border: 2px solid #ffffff;
}

.top_navbar_container{
    margin-inline: 20%;
    display: flex;
    align-items: center;
}

.top_navbar_container img{
    margin-right: 50px;
    height: 50px;
    width: 150px;
}

.top_navbar_input{
    color:#ffffff;
    background-color: #18181B;
    padding: 9px 12px;
}

.top_navbar_select{
    color: #ffffff;
    background-color: #09090B;
    padding: 9px 12px;
}



.main_container{
    position: absolute;
    top: 15%;
    left: 20%;
}

.main_container img{
    height: 40px;
    border-radius: 100%;
}