body{
    background-color: black;
    color: #ffffff;
}

.image{
    width: 680px;
    height: 700px;
    background-image: url("images/noimage-single-big.jpeg");
    background-size: 500px 500px;
    background-repeat: no-repeat;
}

.image img{
    margin: 20px;
    width: 200px;
    height: 54px;
}